body {
	background: #1f1f1f;
	color: #fff;
	padding: 1rem;
}
h1 {
	margin-bottom: 1rem;
}
table {
	border: 2px solid #ffffff;
}
th,
td {
	font-weight: normal;
	padding-inline: 1rem;
	border: 1px solid #313131;
	text-align: center;
}
