body,
button {
	font-family: monospace;
	font-size: 18px;
	background: #fff;
	color: #000;
	padding: 1rem;
}
h1 {
	margin-bottom: 1rem;
}
table {
	border: 2px solid #000;
}
th,
td {
	font-weight: normal;
	padding-inline: 1rem;
	border: 1px solid #313131;
	text-align: center;
}
#chart {
	height: 75dvh;
}
.hidden {
	display: none;
}
