/* Global Styles */
body {
  font-family: monospace;
  font-size: 18px;
  background: #fff;
  color: #000;
  padding: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2em;
}

section {
  margin-bottom: 2rem;
}

/* Interactive Elements */
button {
  font-family: monospace;
  font-size: 18px;
  padding: 1rem;
  background: #fff;
  color: #000;
}

/* Chart Container */
#chart {
  height: 75dvh;
}

/* Table Styles */
table {
  border: 2px solid #000;
}

th,
td {
  font-weight: normal;
  padding-inline: 1rem;
  border: 1px solid #313131;
  text-align: center;
}

/* Utility Classes */
.hidden {
  display: none;
}
