<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CrawlSpace Temp/Humidity Readings</title>

		<style>
			body {
				background: #1f1f1f;
				color: #fff;
				padding: 1rem;
			}
			h1 {
				margin-bottom: 1rem;
			}
		</style>
	</head>
	<body>
		<h1>CrawlSpace Temp/Humidity Readings</h1>
		<div>
			<p>Temperature: <span>TEMP</span></p>
			<p>Humidity: <span>HUMD</span></p>
		</div>
		<div>
			<ul>
			{% for datum in data%}
				<li>{{datum[1]}}F {{datum[2]}}C</li>
			{% endfor %}
			</ul>
		</div>
	</body>
</html>
