<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CrawlSpace Temp/Humidity Readings</title>

		<style>
			body {
				background: #1f1f1f;
				color: #fff;
				padding: 1rem;
			}
			h1 {
				margin-bottom: 1rem;
			}
			table {
				border: 2px solid #ffffff;
			}
			th,
			td {
				font-weight: normal;
				padding-inline: 1rem;
				border: 1px solid #313131;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1>CrawlSpace Temp/Humidity Readings</h1>
		<div>
			<p>Temperature: <span>{{ latest[0] }}F</span></p>
			<p>Humidity: <span>{{ latest[1] }}C</span></p>
		</div>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Temperature</th>
					<th>Humidity</th>
				</tr>
			</thead>
			<tbody>
				{% for event in history %}
				<tr>
					<th>
						{{event[0]}}
					</th>
					<td>
						{{event[1]}}
					</td>
					<td>
						{{event[2]}}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
