<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Crawlspace Temp/Humidity Readings</title>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
	</head>
	<body>
		<h1>Crawlspace Temperature & Humidity Readings</h1>

		<div>
			<p>Temperature: <span>{{ latest.temperature }} F</span></p>
			<p>Humidity: <span>{{ latest.humidity }} %</span></p>
		</div>

		<form id="search-form" method="GET" action="/">
			<label for="date">Search Databse</label>
			<input id="date" type="date" name="date" />
			<button type="submit">Search</button>
			<button id="clear-form" type="button">Clear</button>
		</form>

		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Temperature</th>
					<th>Humidity</th>
				</tr>
			</thead>
			<tbody>
				{% for date, temp, hum in history %}
				<tr>
					<th>
						{{ date }}
					</th>
					<td>
						{{ temp }}
					</td>
					<td>
						{{ hum }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<script>
			document.getElementById("clear-button").addEventListener("click", clearSearch())

			function clearSearch(){
				const form = document.getElementById("search-form")
				form.date.value = ""
				form.submit()
			}
		</script>
	</body>
</html>
