<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Crawlspace Temp/Humidity Readings</title>

		<style>
			body {
				background: #1f1f1f;
				color: #fff;
				padding: 1rem;
			}
			h1 {
				margin-bottom: 1rem;
			}
			table {
				border: 2px solid #ffffff;
			}
			th,
			td {
				font-weight: normal;
				padding-inline: 1rem;
				border: 1px solid #313131;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1>Crawlspace Temperature & Humidity Readings</h1>
		<div>
			{% set temp = latest[0] %}
			{% set hum = latest[1] %}
			<p>Temperature: <span>{{ temp }} F</span></p>
			<p>Humidity: <span>{{ hum }} %</span></p>
		</div>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Temperature</th>
					<th>Humidity</th>
				</tr>
			</thead>
			<tbody>
				{% for date, temp, hum in history %}
				<tr>
					<th>
						{{ date }}
					</th>
					<td>
						{{ temp }}
					</td>
					<td>
						{{ hum }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
